* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
:root {
  /* Primary */

  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* Dark Theme */
  --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  /* Light Theme */
  --Toggle2: hsl(230, 22%, 74%);
}
main {
  min-height: 120vh;
  transition: all 0.5s ease;
}
header {
  height: 270px;
  background: hsla(230, 22%, 74%, 0.2);
  border-radius: 15px;
}
nav {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.nav-h {
  font-size: 32px;
}
.nav-p {
  font-weight: 700;
  color: hsl(227, 5%, 33%);
}
.switchSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.swich-p {
  display: inline-block;
  font-weight: 700;
  color: hsl(231, 6%, 45%);
  opacity: 0.7;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: all 0.5s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.bigSide {
  display: flex;
  justify-content: center;
  gap: 30px;
  border: none;
  border-radius: 25px;
  margin-top: -120px;
  z-index: 1000;
}
.bigBox {
  width: 270px;
  height: 240px;
  padding: 20px;
  background-color: hsl(225, 24%, 90%);
  text-align: center;
  opacity: 0.8;
}
.bigBox:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}
.bigBox h1 {
  font-size: 52px;
  margin: 15px 0;
}
.bigBox p {
  font-size: 15px;
  letter-spacing: 4px;
  opacity: 0.8;
}
.bigBoxDis {
  display: flex;
  justify-content: center;
  align-items: centers;
  gap: 10px;
  margin-top: 25px;
}
.bigBoxDis .icon {
  width: 7px;
  height: 7px;
  margin-top: 4px;
}
.bigBoxDis h4 {
  font-size: 12px;
  opacity: 0.8;
}
.bigBox .text {
  font-size: 12px;
  font-weight: 700;
  color: var(--LimeGreen);
}
.facebook {
  border-top: 4px solid var(--Facebook);
  border-radius: 7px;
}
.twitter {
  border-top: 4px solid var(--Twitter);
  border-radius: 7px;
}
.instagram {
  border-top: 4px solid #f75c14;
  border-radius: 7px;
}
.youtube {
  border-top: 4px solid var(--YouTube);
  border-radius: 7px;
}
.bigBoxDis .icond {
  width: 7px;
  height: 7px;
  margin-top: 4px;
}
.bigBox .textd {
  font-size: 12px;
  font-weight: 700;
  color: var(--BrightRed);
}
.infoSide {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 11.5%;
  margin-top: 30px;
  opacity: 0.6;
  font-size: 16px;
}
.smallSide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 5.5%;
}
.up {
  color: var(--LimeGreen);
}
.down {
  color: var(--BrightRed);
}
.smallbox {
  width: 250px;
  height: 150px;
  padding: 30px;
  background-color: hsl(225, 24%, 90%);
  opacity: 0.8;
  border-radius: 5px;
}
.smallbox:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}
.topSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.topSide p {
  font-size: 15px;
  opacity: 0.6;
  font-weight: 700;
}
.bottomSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomSide h1 {
  font-size: 32px;
  margin: 15px 0;
}
.ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.ranking p {
  font-size: 12px;
  opacity: 0.6;
  font-weight: 700;
}
.attribution {
  margin-top: 120px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.darkThemeTopBG {
  background-color: hsl(228, 28%, 20%);
}
.darkThemeBg {
  background-color: hsl(230, 17%, 14%);
}

.darkThemeBoxBg {
  background: hsl(230, 26%, 31%);
}
.darkThemeFont {
  color: #fff;
}
@media (max-width: 500px) {
  header {
    height: 200px;
    border-radius: 0;
  }
  nav {
    flex-direction: column;
  }
  .nav-h {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
  }
  .switchSide {
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
    justify-content: space-between;
  }
  .bigSide {
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }
  .bigBox {
    width: 90%;
  }
  .smallSide {
    grid-template-columns: repeat(1, 1fr);
  }
  .smallbox {
    width: 95%;
  }
  .attribution {
    margin: 50px 0;
  }
}
/* 
#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): 
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%)

*/
